@use '../abstracts' as *;

.nav-standard {
  @include flex(space-between);
  padding: .5rem 2rem;
  width: 100%;
  background-color: $primary-green;
}

.nav-transparent {
  @include flex(space-between);
  background-color: $primary-green;
  width: 100%;
  padding: .5rem 2rem;
}

.nav-logo {
  @include base-image;
}

.logo-small {
  width: 80px;
}

.logo-large {
  width: 120px;
}

.user-link {
  @include font($body-font, 20px, $primary-yellow, $weight-bold);
  cursor: pointer;
  margin: 0 1rem 0 0;
  text-shadow: 2px 2px 2px #00000080;

  &:hover {
    color: $primary-yellow-hover;
  }
}

.login-status {
  @include flex(space-between, center, row, 1rem);

  p {
    @include font($body-font, 20px, $primary-yellow, $weight-regular);
    margin-bottom: 0;
  }
}

// MQ MOBILE
@media (max-width: 991px) {

  .fa-circle-user {
    border: 1px solid red;
    display: none !important;
  }

  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 20px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
  }

  .bars {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: .350s;
  }

  #checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }

  #checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }

  #checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }

  #checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }

  #checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
}

/* IF SCREEN > 992px */
@media (min-width: 992px) {

  .toggle,
  #checkbox {
    display: none;
  }

  .nav-transparent {
    @include flex(space-between);
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100%;
    padding: .5rem 2rem;
  }
}

/* IF SCREEN < 991px */
@media (max-width: 991px) {
  .nav-transparent {
    @include flex(space-between);
    background-color: $primary-green;
    width: 100%;
    padding: .5rem 2rem;
  }

  .logo-large {
    width: 80px;
  }
}