@use '../layouts/home';
@use '../abstracts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $body-font;
}

.main-body {
  min-height: calc(100lvh - 79px - 288.59px);
}

@media (max-width: 992px) {
  .main-body {
    min-height: calc(100lvh - 79px - 635.53px);
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

.hide {
  display: none;
}