@use '../abstracts' as *;

.header {
  @include flex(center, center, column);
}

@media (max-width: 992px) {
  .headline-container {
    display: none;
  }
}

@media (min-width: 991px) {
  .hero {
    background-image: url('../../images/header-cabin2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 100px;
  }

  .headline-container {
    position: absolute;
    right: 1rem;
    top: 7rem;
    text-shadow: 2px 2px #00000083;
  }

  .headline {
    font-size: 45px;
    font-weight: $weight-regular;
    font-family: $heading-font;
    color: $white;
  }
}