$primary-green: #486349;
$primary-yellow: #CBB26A;

$black: #000;
$white: #fff;
$offwhite: #f1f1f1;
$gray-medium: #a0a0a0;
$gray-light: #d1d1d1;
$star-filled: #e4a935;
$star-unfilled: #d9d9d9;


// HOVERS
$primary-yellow-hover: hsl(45, 48%, 71%);