.calendar,
.package-dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10rem;
  box-shadow: 0 4px 4px 2px #00000030;
  z-index: 2;
  border-radius: 10px;
  overflow: hidden;
}

.check-in-out-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  padding: 1rem;
  user-select: none;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  border-radius: 10px !important;
}

.rdrDateDisplayItemActive {
  background-color: #ffffff !important;
}

.rdrDateDisplayItemActive input {
  color: #000000 !important;
}